<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map My Meetups</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="//maps.google.com/maps/api/js?v=3.24&key=<%= ENV['GOOGLE_API_KEY'] %>"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <%= render 'layouts/navbar' %>
      <div id="map_canvas"></div>

      <div class="row">
        <%= yield %>
        <%= insert_paloma_hook %>
      </div>
    </div>

  </body>
</html>

<!-- ... edited by app generator -->
